nav ul {
    list-style-type: none;
    background-color: rgba(26, 170, 175);
    display: flex;
    justify-content: center;
    padding: 0%;
    margin: 0%;
}
nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 8px;
    display: block;
    font-size: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
nav ul li a:hover {
    background-color: rgba(84, 196, 196, 0.63);
}
body {
    background-image: url("achtergrond\ website\ 2.webp");
    background-attachment: fixed;
    background-size: cover;
    margin: 0%;
}
.kop {
display: flex;
justify-content: space-between;
align-items: center;
padding: 150px;
}
.kop-tekst {
    width: 45%;
}
.kop-tekst h1 {
    font-size: 60px;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.kop-tekst span {
    color: rgb(15, 139, 143);
}
.kop-tekst p {
    font-size: 22px;
    color: rgb(107, 107, 107);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#actief {
    background-color: rgb(15, 139, 143);
}
.images {
    display: flex;
    gap: 40px;
    justify-content: right;
    width: 70%;
}
.kat {
width: 30%;
}
.konijn {
   width: 45%;
    padding: 20px; 
}
.footer {
    display: flex;
    justify-content: center;
    padding: 50px;
}
.adopteren123 {
    background: rgba(101, 233, 233, 0.397);
    padding: 30px;
    width: 250px;
    color: rgb(107, 107, 107);
    text-align: center;
    border-right: 1px solid rgba(108, 194, 209, 0.733);
}
.adopteren4 {
    background: rgba(101, 233, 233, 0.397);
    padding: 30px;
    color: rgb(107, 107, 107);
    width: 250px;
    text-align: center;

}