nav ul {
    list-style-type: none;
    background-color: rgba(15,139,143);
    display: flex;
    justify-content: center;
    padding: 0%;
    margin: 0%;
}
nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 8px;
    display: block;
    font-size: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
nav ul li a:hover {
    background-color: rgba(84, 196, 196, 0.63);
}
body {
    background-color: rgb(223, 242, 242);
    background-attachment: fixed;
    background-size: cover;
    margin: 0%;
}
.kop {
display: flex;
justify-content: space-between;
align-items: center;
padding: 150px;
}
.kop-tekst {
    width: 45%;
}
.kop-tekst h1 {
    font-size: 60px;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.kop-tekst span {
    color: rgb(15, 139, 143);
}
.kop-tekst p {
    font-size: 22px;
    color: rgb(107, 107, 107);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#actief {
    background-color: rgb(14, 126, 130);
}
.images {
    display: flex;
    gap: 40px;
    justify-content: right;
    width: 70%;
}
.kat {
width: 30%;
}
.konijn {
   width: 45%;
    padding: 20px; 
}
.footer {
    display: flex;
    justify-content: center;
    padding: 50px;
}
.adopteren123 {
    background: rgb(159, 203, 203);
    padding: 30px;
    width: 250px;
    color: rgb(93, 93, 93);
    text-align: center;
    border-right: 1px solid rgba(131, 177, 182, 0.507);
}
.adopteren4 {
    background: rgb(159, 203, 203);
    padding: 30px;
    color: rgb(107, 107, 107);
    width: 250px;
    text-align: center;
}
.dieren {
    padding: 50px;
}
.dieren h1 {
font-size: 55px;
color: black;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: center;
}
.dieren span {
     color: rgb(15, 139, 143);
}
.intro {
    font-size: 22px;
    margin-bottom: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgba(70, 70, 70, 0.788);
}
.dieren-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.dier-kaart {
    background-color: rgba(187, 220, 220);
    width: 18%;
    border-radius: 20px;
    margin: 20px;
    overflow: hidden;
}
.dier-kaart img {
    width: 100%;
    height: 300px;
}
.dier-kaart h2 {
    margin-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.dier-kaart p {
    margin-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.dier-kaart a {
    display: block;
    margin: 20px;
    color: rgb(111, 185, 185);
    text-decoration: none;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.profiel {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
    padding: 50px;
}
.profiel img {
    width: 400px;
    border-radius: 25px;
}
.info-box {
    background-color: rgb(202, 226, 226);
    padding: 25px;
    border-radius: 20px;
    margin-bottom: 30px;
}
.info {
    width: 500px;
}
.info h1 {
    font-size: 60px;
    color: rgb(0, 155, 155);
    margin-bottom: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.info h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.info p {
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.terug {
    margin: 30px;
}
.terug a {
    text-decoration: none;
    color: rgb(0, 155, 155);
    font-size: 20px;
    font-weight:bold ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contact-box{
    background-color: rgb(0, 155, 155);
    color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contact-box a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgb(101, 185, 181);
}
.contact-box a:hover {
    background-color: rgb(100, 165, 168);
}
.over-ons {
    padding: 65px;

}
.over-ons h1 { 
    color: rgb(0, 155, 155);
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
}
.over-ons-in {
    display: flex;
    align-items: center;
    gap: 40px;
    display: flex;
    justify-content: space-between;
}

.over-ons-in img {
    width: 700px;
    border-radius: 25px;
    display: flex;
    justify-content: end;
}
.stijlen {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: end;
    margin-top: 10%;
}
.stijl {
    background-color: rgb(187, 220, 220);
    text-align: center;
    padding: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 20px;
}
.tekstjes {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
